*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
.idea

# Node modules for e2e projects
/e2e-kraken/node_modules/
/e2e-mock-api/node_modules/

# Logs from e2e-kraken
/e2e-kraken/logs/
